---
import { framework, terminology } from "../lib/data";
---

<footer class="site-footer">
  <div class="shell footer-grid">
    <div>
      <a class="wordmark footer-wordmark" href="/">
        <span class="wordmark-mark" aria-hidden="true"><i></i><i></i><i></i></span>
        <span>{terminology.project.name}</span>
      </a>
      <p>{terminology.project.description}. Temporary name, experimental structure.</p>
    </div>
    <div class="footer-meta">
      <span>Framework {framework.version}</span>
      <a href="https://github.com/viscontext/viscontext.github.io">Source on GitHub</a>
    </div>
  </div>
</footer>
